body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
padding: 0;
}

.header-nav {
  background-color: #007057;
  padding: 8px 10px;
}

.navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
}